/* General */

.welcome-text {

	width: 50%;

	margin-bottom: 50px;

	font-size: 16px;

}

.col-3-wrapper{

	overflow: hidden;

	display: block;

	width: 100%;

}

.col-3-wrapper p {

	font-size: 14px;

}

.col-3 {

	float: left;

	width: 30%;

	max-width: 480px;

	margin-right: 3%;

}

.col-3 .button-primary {

	height: 36px;

	line-height: 34px;

	padding: 0 18px 1px;

	font-size: 14px;

}

 .active-style {

	position: absolute;

	top: 0;

	right: 0;

	width: 100%;

	height: 38px;

	line-height: 38px;

	padding: 0;

	color: #fff;

	font-size: 14px;

	letter-spacing: 0.7px;

	font-weight: 600;

	background-color: #0085BA;

	text-align: center;

	cursor: default;

}

/* Recommended Plugins */

.col-3-wrapper .plugins-description {

	margin-top: 20px !important;

	margin-right: 90px !important;

}

.col-3-wrapper .plugins-description p {

	font-size: 13px !important;

	margin-bottom: 0 !important;

}

.col-3-wrapper .url-action {

	width: auto !important;

}

/* Free vs Pro */

.free-vs-pro-table {

  width: 77%;

}

.free-vs-pro-table th {

  padding-right: 0;

  padding-left: 8px;

  font-size: 1.2em;

}

.free-vs-pro-table thead th:first-child {

  text-align: left;

  padding-left: 0 !important;

}

.free-vs-pro-table thead th {

  vertical-align: middle;

}

.free-vs-pro-table th,

.compare-icon {

  text-align: center;

}

.free-vs-pro-table td {

  width: 40%;

  padding: 20px 0 25px;

  border-top: 1px solid #ccc;

}

.free-vs-pro-table tr:last-child td {

	text-align: right;

}

.free-vs-pro-table h3 {

  margin: 0 !important;

}

.free-vs-pro-table td p {

  max-width: 450px;

}

.free-vs-pro-table .only-pro {

	color: red;

}

.compare-icon span:before {

  font-size: 25px;

}

.compare-icon .dashicons-yes {

  color: green;

}

.compare-icon .dashicons-no {

  color: red;

}

/*changelog*/

pre.changelog {

	background-color: #f5f5f5;

	background-image: linear-gradient(#f5f5f5 50%, #e6e6e6 50%);

	background-size: 38px 38px;

	border: 1px solid #d4d4d4;

	display: block;

	font-size: 12px;

	line-height: 19px;

	overflow-x: visible;

	overflow-y: hidden;

	margin: 40px 0 0;

	padding: 10px;

}

.info-wrap .col-3-wrapper p{
	margin-top: 2em;
}
.info-wrap .col-3-wrapper h3{
	margin-top: 2em;
}

.info-wrap pre.changelog{

	width: 48%;

}
.info-wrap a.nav-tab:focus{

	outline: 0;

	box-shadow: none;

}
.info-wrap .dashicons{
	color: #ffac3a;
}


/* Recommended Plugins */

.col-3-wrapper .plugin-card {

	position: relative;

	width: 30% !important;

	min-height: 170px;

	padding: 20px;

	margin-right: 1% !important;

	margin-left: 0 !important;

	clear: none !important;

}

.col-3-wrapper .column-description {

	margin-top: 20px !important;

	margin-right: 90px !important;

}

.col-3-wrapper .column-description p {

	font-size: 13px !important;

	margin-bottom: 0 !important;

}

.col-3-wrapper .action-links {

	 width: auto !important;

}

/* Responsive */

@media screen and ( max-width: 1600px ) {

	.col-3-wrapper .plugin-card {
		width: 49% !important;
	}
}


@media screen and ( max-width: 1360px ) {

	.free-vs-pro-table {
		width: 80% !important;
	}
}

@media screen and ( max-width: 1160px ) {

	.col-3-wrapper .plugin-card {
		width: 100% !important;
		margin-right: 0 !important;
	}
}

@media screen and ( max-width: 790px ) {

	.col-3{

		float: none !important;

		width: 100% !important;

		margin-right: 0 !important;

	}
	.info-wrap pre.changelog{

	width: 75%;
}

}
